<!DOCTYPE html>
<html>
<head>
    <title>Energy Prices - Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Energy Prices</h1>
        <h5>By Michael Gimm Holdensen</h5>
        <form action="/prices" method="POST">
            <div class="mb-3">
                <label for="timeframe" class="form-label">Select Timeframe:</label>
                <select class="form-select" id="timeframe" name="timeframe">
                    <option value="6">Next 6 hours</option>
                    <option value="12">Next 12 hours</option>
                    <option value="24">Next 24 hours</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="area-selection" class="form-label">Select Price Area:</label>
                <select class="form-select" id="area-selection" name="area_selection">
                    <option value="1">WesTDenmark</option>
                    <option value="2">EastDenmark</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Get Prices</button>
        </form>

        <div class="graph-container">
                {{ graph|safe }}

            <div class="prices-container">
            <h2>Results</h2>
            <p class="mb-4">The current time is {{ current_time }} and the prices in the area of Denmark {{ 'WestDenmark' if area_selection == '1' else 'EastDenmark' }} for the next {{ timeframe }} hours are:</p>

            <ul class="prices-list">
                {% for timestamp, price in prices %}
                    <li>{{ timestamp }}: {{ price }}</li>
                {% endfor %}
            </ul>


            </div>
        </div>
    </div>
</body>
</html>
